@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Media Query Manager
/*
< 600px: Phone
600-900px: Tablet potrait
900-1200px: Tablet landscape
1200-1800px: Desktop (Normal Styles)
> 1800: Big desktop
*/

@mixin respond-phone {
    @media (max-width: 60px) {
        @content;
    }
}

/*
? $breakpoint argument choices:
1. phone
2. tablet-port
3. tablet-land
4. big-desktop
*/

// 1em = 16px
@mixin respond($breakpoint) {
    @if ($breakpoint == phone) {
        @media only screen and (max-width: 37.5em) {
            //600px
            @content;
        }
    }
    @if ($breakpoint == tablet-port) {
        @media only screen and (max-width: 56.25em) {
            //900px
            @content;
        }
    }
    @if ($breakpoint == tablet-land) {
        @media only screen and (max-width: 75em) {
            //1200px
            @content;
        }
    }
    @if ($breakpoint == big-desktop) {
        @media only screen and (min-width: 112.5em) {
            //1800px
            @content;
        }
    }
}
